* {
  margin: 1px;
  list-style-type: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-size: large; */
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

header {
  display: flex;
  flex-wrap: nowrap;
  background-color: #a48463;
  border-bottom: 1px solid black;
}

#colorModeButton:hover,
#toFavourites:hover {
  cursor: pointer;
}

header ul {
  display: flex;
}

header > div > ul > li {
  margin: 10px;
}

body > header:first-child {
  display: flex;
  justify-content: space-between;
  
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  

}

.form {
  display: flex;
  justify-content: center;
}

.main-box::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../public/img/spring.jpg");
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: invert(100%); */
    z-index: -1;
}

.main-box.invert-filter::before {
  filter: invert(100%);
}

.main-box {
    position: relative;
  flex: 1;
  border: 1px solid black;
  margin-bottom: 1px;  
}

.main-box > div {
  display: flex;
  justify-content: space-between;
}

.city-block {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 150px;
  height: 100px;
  margin-left: 10px;
  /* border: 1px solid black; */
}

.weather {
  margin: 20px;
}

.city {
  margin-bottom: 20px;
}

.temperature {
  margin-bottom: 20px;
}

.favourite {
    margin: 10px;
}

.main-box > div:nth-child(2) {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.main-box > div:nth-child(3) {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.main-box > div:last-child > div {
  border: 1px solid black;
  height: 150px;
  width: 150px;
    margin-top: 10%;
}

footer {
  text-align: right;
  height: 20px;
  background-color: #a48463;
  border-top: 1px solid black;
}
